<header>
    <div>
        <h2 class="logo title">Andgo</h2>
        <div class="socials">
            <a href="https://www.youtube.com/@andgo122" target="_blank"><img src="/images/SVGs/YouTube.svg" class="social-ico" alt="YouTube Logo"></a>
            <a href="https://www.instagram.com/andgo12" target="_blank"><img src="/images/SVGs/Instagram.svg" class="social-ico" alt="Instagram Logo"></a>
            <a href="https://www.discord.gg/xPGzDZ4jQM" target="_blank"><img src="/images/SVGs/Discord.svg" class="social-ico" alt="Discord Logo"></a>
            <a href="https://andgo122.newgrounds.com/" target="_blank"><img src="/images/SVGs/Newgrounds.svg" class="social-ico" alt="Newgrounds Logo"></a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/" class="navbtn">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn navbtn">Projects</a>
                <div class="dropdown-content">
                    <a href="/Projects">All Projects</a>
                    <a href="/Projects/AI_Generated_GD_Levels.html">AI Generated GD levels</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn navbtn">Games</a>
                <div class="dropdown-content">
                    <a href="/Games">All Games</a>
                    <a href="https://andgo12.itch.io/tuxedo-suite" target="_blank">Tuxedo Suite</a>
                </div>
            </li>
        </ul>
    </nav>
</header>